
#menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#menu img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #000;}